@font-face {
  font-family: 'Bahnschrift';
  src: url('assets/fonts/Bahnschrift.eot');
  src: url('assets/fonts/Bahnschrift.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Bahnschrift.woff2') format('woff2'),
    url('assets/fonts/Bahnschrift.woff') format('woff'),
    url('assets/fonts/Bahnschrift.ttf') format('truetype'),
    url('assets/fonts/Bahnschrift.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #1e242a;
}

.main {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.box1 {
  width: 530px;
  height: 625px;
  background-image: url('assets/img/1.png');
  position: absolute;
  bottom: -100%;
  left: 30%;
  animation: anim 2s forwards, anim2 3s forwards 3s;
}

.box1::after {
  content: '';
  position: absolute;
  width: 530px;
  height: 625px;
  background-image: url('assets/img/2.png');
  left: 0px;
  z-index: -1;
}

@keyframes anim {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}
@keyframes anim2 {
  from {
    left: 30%;
    width: 530px;
  }
  to {
    width: 0px;
    left: 50%;
  }
}

.box2 {
  width: auto;
  height: auto;
  font-family: 'Bahnschrift';
  color: white;
  font-size: 5em;
  font-weight: 500;
  line-height: 130px;
  position: absolute;
  top: 250px;
  left: 100px;
  overflow: hidden;
}

.site_title {
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 3s;
}
@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

.box3 {
  overflow: hidden;
}

.container {
  width: 100%;
  position: absolute;
  top: -100%;
  animation: anim4 2s forwards 2.5s;
}

.logo {
  float: left;
  margin-left: 100px;
  margin-top: 20px;
}

.menu {
  font-family: 'Bahnschrift';
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  margin-right: 150px;
  margin-top: 20px;
  float: right;
}
.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline-block;
  margin-left: 100px;
}

@keyframes anim4 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
